<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if pages[0].title %}
            {{ pages[0].title }}
        {% else %}
            My Pelican Site
        {% endif %}
    </title>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">
    <style>
        a {color:   {% if pages[0].colors[3] %}
                        {{ pages[0].colors[3] }}
                    {% else %}
                        #45A29E
                    {% endif %};
            }
    </style>
</head>

<body style="
            color:                {% if pages[0].colors[2] %}
                                    {{ pages[0].colors[2] }}
                                {% else %}
                                    #000000
                                {% endif %};
            background-color:   {% if pages[0].colors[1] %}
                                    {{pages[0].colors[1]}}
                                {% else %}
                                    #FFFFFF
                                {% endif %};">

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>
            {% if pages[0].footer %}
                {{ pages[0].footer }}
            {% else %}
                {{ pages[0].date.year }} &copy; My Pelican Site. All rights reserved.
            {% endif %}
        </p>

    </footer>
</body>

</html>